@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; /* to input boxes don't overflow from their containers */
}

:root {
    --blue: #0097b2;
    --gray: #ededed;
    --yellow: #f6ca11;
    --dark-gray: #3b3b3b;
}

body {
    width: 100%;

    position: relative;
    overscroll-behavior: contain; /* to avoid reload in moviles */

    
}

/* -------- H1 -------- */
#header {
    
    background-color: var(--yellow);
    padding-bottom: 15px;
}

#headerContainer {
    width: 85%;
    margin: 0 auto 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#mainTitle {
    text-align: center;
    font-size: 12px;
    color: var(--dark-gray);
    font-weight: 800;
}

#imgHeader {
    width: 35%;
}

/* -------- MAIN -------- */
#main {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 25px;
    border-radius: 20px 20px 0 0;
    margin-top: -15px;
    background-color: white;
}

/* main inputs (budget and items) */
#mainInputsDiv {
    width: 85%;
    margin: 0 auto;
}

/* budget */
#budget {
    width: 100%;
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    background-color: var(--gray);
}

/* delete arrows in input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* add item input */
#itemInputDiv {
    width: 100%;
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#itemAdded {
    width: 85%;

    padding: 15px 20px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    background-color: var(--gray);
}
/* add button */
#itemAddButton {

    border-radius: 50px;
    border: none;
    background-color: var(--yellow);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
}

.plusIcon {
    margin: 5px .5px;
    width: .7em;
    height: .7em;
}

/* -------- LIST -------- */
#listItems {
    list-style: none;
    padding: 0;
    width: 85%;
    margin: 20px auto 150px auto;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemP {
    margin-left: 10px;
    padding: 5px 0;
}

/* .itemP.checked {
    text-decoration-line: line-through;
    color: gray;
} */

.check:checked + .itemP {
    text-decoration-line: line-through;
    color: gray;
}

.itemDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 84%;
    border-radius: 12px;
}

.checkItem {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 15px;
}

/* .check {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
} */

/* .check:checked {
    
    background: transparent url('../images/svg/plus-icon.svg') no-repeat 0 0;
    

} */

.priceDiv {
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.money {
    margin-right: 8px;
}

.price {
    width: 100%;
    padding: 7px 0;

    background-color: var(--gray);
    border-radius: 6px;
    border: none;
    text-align: center;
}

.itemP, .money, .price {
    font-size: 12px;
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.deleteButton {
    width: 15%;
    border: none;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: end;
    align-items: center;

    padding-right: 0;
    padding-left: 0;
    margin-right: 10px;
}

.deleteIcon {
    width: 50%;
    height: 50%;
}

/* -------- IMAGE NO ITEMS -------- */
#imgItems.show {
    width: 85%;
    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#shoppingListImage {
    width: 120px;
}

#textNoItems {
    font-size: 12px;
    width: 220px;
    text-align: center;
    color: #737373;
    font-weight: 600;
}

#imgItems {
    display: none;
}



/* -------- TOTAL -------- */

/* main div */
#totalSavingDiv {
    width: 100%;
    background-color: white;
    padding: 20px 0 40px 0;

    position: fixed;
    bottom: 0;
    z-index: 100;

    box-shadow: 0 1px 10px rgb(191, 191, 191);
    /* border-top: 1.5px solid rgb(191, 191, 191); */
}

#totalDiv, #savingTitle {
    width: 85%;
    margin: 0 auto;
}

#totalDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    color: var(--dark-gray);

}

#totalTitle, #total {
    font-size: 15px;
    font-weight: 800;
}

#total {
    background-color: var(--yellow);
    padding: .5em 1em;
    border-radius: 1em;
}

#savingTitle {
    text-align: end;
    color: var(--dark-gray);
    font-size: 12px;
    font-weight: 800;

    margin-top: 10px;
    padding-right: 1em;
}